
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/
/out/
.idea_modules/

.gradle
/build/

gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.gradletasknamecache

.DS_Store
.gitignore
.gradle/
build.gradle
build/
gradle/
gradlew
gradlew.bat
lib/
out/
settings.gradle
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/.DS_Store
src/main/webapp/WEB-INF/jsp/.DS_Store
src/main/webapp/resources/.DS_Store
